<div id="nosotros" class="main-company">

  <div class="maq-title">
      <div class="item-maq weight-bold size-20 color-DCDBDB">
          Nosotros
      </div>  
      <div *ngIf="!isMobile" class="item-maq  maq-magin weight-bold size-20 color-DCDBDB">
          <a class="color-DCDBDB weight-bold size-22  nav-link" href="#maqMenu">Inicio</a>
      </div>
    </div>

  <!-- Card -->
  <div class="card card-image" style="background-image: url(/../../assets/img/logos/company.jpg)">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="pink-text"> Maqueda Tours</h5>
        <h3 class="card-title pt-2"><strong>QUIENES SOMOS</strong></h3>
        <p class="maq-text">En Maqueda Tours somos un grupo de profesionales con experiencia en la planeación de viajes, diseñamos tu viaje de acuerdo a tus necesidades ya sea por placer, estudios o negocios.
            Maqueda Tours le ofrece una atención personalizada para cada cliente, asignándole a un agente de viajes con el que podrá asesorarse en la reservación de su paquete turístico, circuitos, Lunas de miel, viajes de negocios, cruceros, vuelos, hoteles, transportación, actividades y seguros, además de ofrecer a nuestros clientes una plataforma desde la cual podrás adquirir cualquiera de nuestros servicios desde la comodidad de tu casa u oficina.
            En Maqueda tours nos encantaría brindarte la mejor atención y servicio</p>

        <h3 class="card-title pt-2"><strong>MISION</strong></h3>
        <p class="maq-text">Nuestra misión es diseñar un servicio a tu medida que cumpla tus necesidades de viaje a un precio accesible siempre con una atención personalizada y confiable por parte de personal capacitado que te ayudará a crear una experiencia inolvidable </p>

        <h3 class="card-title pt-2"><strong>VISION</strong></h3>
        <p class="maq-text">Ser reconocidos como una agencia líder en el sector turístico por facilitar el accesos de nuestros servicios gracias al uso de medios digitales de una forma 100% confiable además de llevar nuestros servicios a más partes de la región y otros lugares del país implementando las herramientas necesarias para lograrlo. Implementar más servicios a nuestras plataformas con la finalidad de beneficiar a más personas.</p>
       
        <h3 class="card-title pt-2"><strong>VALORES</strong></h3>
        <p class="maq-text"><strong>CONFIANZA:</strong> Seguridad en la veracidad de la información y cumplimiento en el servicio brindado <br>
          <strong>EFICIENCIA:</strong> Ejecución adecuada en tiempo y forma de cada uno de los servicios prestados a nuestros clientes<br>
          <strong>ENTREGA:</strong> Poner el corazón en cada uno de los servicios que brindemos a nuestros clientes<br>
          <strong>AMABILIDAD:</strong> Trato agradable, educado y con cálidez a cada uno de nuestros clientes</p>

      </div>
    </div>
  </div>
    <!-- Card --> 

</div>