<div id="maqMenu" class="main-header">
<div class="logo">
    <div class="main-image">
        <img class="image-size" src="../../assets/img/logos/main.png"/>
    </div>
    <div class="maq-info">
      <div class="maq-face">
          <a href="https://www.facebook.com/maquedatours"><img src="../../../assets/img/icons/icono-facebook.png" class="red-size" /></a>
          <span class="maq-margin weight-bold size-15">maquedatours</span>
        
      </div>
      <div class="maq-insta">
          <a href="https://www.instagram.com/maquedatours"><img src="../../../assets/img/icons/icono-instagram.png" class="red-size" /></a>
          <span class="maq-margin weight-bold size-15">maquedatours</span>
      </div>
      <div class="maq-insta">
          <img src="../../../assets/img/icons/phone.svg" class="icon-size" />
         <span class="maq-margin weight-bold size-15">+52 (81)2721-5532 (81)2721-5533</span>
      </div>
    </div>
</div>
<div class="maq-nav">
    <ul class="nav md-tabs maq-menu mx-0 mb-0 mt-1">
        <li class="nav-item">
          <a class="color-DCDBDB weight-bold size-22 nav-link" href="#destinos">Destinos</a>
        </li>
        <li class="nav-item">
          <a class="color-DCDBDB weight-bold  size-22 nav-link" href="#hoteles">Hoteles</a>
        </li>
        <li class="nav-item">
          <a class="color-DCDBDB weight-bold size-22 nav-link" href="#tours">Tours</a>
        </li>
        <li class="nav-item">
            <a class="color-DCDBDB weight-bold size-22 nav-link" href="#autos">Autos</a>
          </li>
        <li class="nav-item">
            <a class="color-DCDBDB weight-bold size-22 nav-link" href="#traslados">Traslados</a>
          </li>
        <li class="nav-item">
          <a class="color-DCDBDB weight-bold size-22 nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="color-DCDBDB weight-bold size-22 nav-link" href="http://voucher.bdtravelsolution.com.mx/Reservations/PrintVoucher.aspx">Consulta tu reserva</a>
          </li>
      </ul>
  </div>
</div>