<div class="main-footer">
<div class="contact">
  <div class="maq-contact"><a type="button" class="btn btn-fb" href="https://www.facebook.com/maquedatours"><i class="fa fa-facebook pr-1"></i> Facebook</a><span class="weight-bold size-15 color-DCDBDB">maquedatours</span></div>
  <div class="maq-contact"><a type="button" class="btn btn-ins" href="https://www.instagram.com/maquedatours"><i class="fa fa-instagram pr-1"></i> Instagram</a><span class="weight-bold size-15 color-DCDBDB">maquedatours</span></div>
  <div class="maq-contact"><a type="button" class="btn btn-email">
    <i class="fa fa-envelope pr-1"></i> Email</a>
    <div class="maq-tel">
        <span class="tel-number weight-bold size-15 color-DCDBDB">jorge@maquedatours.com</span>
        <span class="tel-number weight-bold size-15 color-DCDBDB">viajar@maquedatours.com</span>
      </div>
  </div>

  <div class="maq-contact maq-margin">          
    <img src="../../assets/img/icons/phone-black.svg" class="icon-size" />
    <div class="maq-tel">
    <span class="tel-number weight-bold size-15 color-DCDBDB">+52 (81)2721-5532</span>
    <span class="tel-number weight-bold size-15 color-DCDBDB">(81)2721-5533</span>
  </div>
  </div>  
    
</div>
<div class="slogan size-30 color-DCDBDB">"Hacemos tus vacaciones una experiencia inolvidable"</div>
</div>
