
.weight-bold{
    font-weight: bold;
}

.size-15{
    font-size: 15px;
}

.size-17{
    font-size: 17px;
}

.size-20{
    font-size: 20px;
}

.size-22{
    font-size: 22px;
}

.size-23{
    font-size: 23px;
}

.size-30{
    font-size: 30px;
}

.color-black{
    color: black;
}

.color-DCDBDB{
    color: #DCDBDB!important;
}