<div class="main-header-mobile">
    <div class="main-image">
        <img class="image-size" src="../../assets/img/logos/main.png"/>
    </div>
    <div class="maq-info">
      <div class="maq-face">
          <a href="https://www.facebook.com/maquedatours"><img src="../../../assets/img/icons/icono-facebook.png" class="red-size" /></a>
          <span class="maq-margin weight-bold size-15">maquedatours</span>
        
      </div>
      <div class="maq-insta">
          <a href="https://www.instagram.com/maquedatours"><img src="../../../assets/img/icons/icono-instagram.png" class="red-size" /></a>
          <span class="maq-margin weight-bold size-15">maquedatours</span>
      </div>
      <div class="maq-insta">
          <img src="../../../assets/img/icons/phone.svg" class="icon-size" />
          <span class="maq-margin weight-bold size-15">+52 (81)2721-5532</span>
      </div>
    </div>
</div>