<app-item-bestday id="destinos" [titleItem]="titleDestinos" [items]="etravelDestinos"></app-item-bestday>
<app-item-bestday id="hoteles" [titleItem]="titleHotel" [items]="etravelHotel"></app-item-bestday>
<app-item-bestday id="tours" [titleItem]="titleTours" [items]="etravelTours"></app-item-bestday>
<app-item-bestday id="autos" [titleItem]="titleAutos" [items]="etravelAutos"></app-item-bestday>
<app-item-bestday id="traslados" [titleItem]="titleTraslados" [items]="etravelTraslados"></app-item-bestday>